<h2 mat-dialog-title>Tools Form</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="date: dd/MM/yyyy" formControlName="date" />
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="source: google.com" formControlName="source" />
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="createur: 1231" formControlName="createur" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
