
<form [formGroup]="form" (ngSubmit)="OnSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>cin</mat-label>
    <input matInput name="cin" formControlName="cin" placeholder="11143786" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>nom</mat-label>
    <input matInput name="nom" formControlName="nom" placeholder="John" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>prenom</mat-label>
    <input matInput name="prenom" formControlName="prenom" placeholder="Whick" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>date de naissance</mat-label>
    <input matInput formControlName="dateNaissance" [matDatepicker]="pickerDateNaissance">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix  [for]="pickerDateNaissance"></mat-datepicker-toggle>
    <mat-datepicker #pickerDateNaissance></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>cv</mat-label>
    <input matInput name="cv" formControlName="cv" placeholder="facebook.com/dali.mnassar" value="facebook.com/dali.mnassar" >
  </mat-form-field>



  <mat-form-field>
    <mat-label>date d'inscription</mat-label>
    <input matInput formControlName="dateInscription" [matDatepicker]="pickerDateInscription">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix  [for]="pickerDateInscription"></mat-datepicker-toggle>
    <mat-datepicker #pickerDateInscription></mat-datepicker>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Encadrant</mat-label>
    <mat-select formControlName="encadrant">
        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant">{{enseignant.prenom}} {{enseignant.nom}}</mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>diplome</mat-label>
    <input matInput name="diplome" formControlName="diplome"  >
  </mat-form-field>

 <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>sujet</mat-label>
    <input matInput name="sujet" formControlName="sujet"  >
  </mat-form-field>

  <button mat-fab extended color="primary" type="submit">
    <mat-icon>favorite</mat-icon>
    Submit
  </button>
</form>
